# Ignore Git files
.git
.gitignore

# Node modules / Go build cache
node_modules
vendor
**/vendor
go.sum

# Binaries
*.exe
*.dll
*.so
bin/
build/
dist/

# Env files except examples
.env
*.env
!*.env.example

# Cache / temp files
*.log
*.tmp
*.cache
.DS_Store

# IDE files
.vscode/
.idea/

# Docker
docker-compose.override.yml
