version: '3.8'
services:
  mongo:
    image: mongo:6
    ports: ["27017:27017"]
    volumes: ['./data/mongo:/data/db']
  redis:
    image: redis:7
    ports: ["6379:6379"]
  nats:
    image: nats:2
    ports: ["4222:4222"]
  message-service:
    build: .
    depends_on: [mongo, redis, nats]
    ports: ["8084:8084"]
    environment:
      - GO_ENV=development
    volumes:
      - .:/app
